body {
	background-color: white;
	color: #2C3531;
	width: 380px;
	font-family: 'Rubik', sans-serif;
	margin: 0px;
}

#body-without-toucan {
	padding:10px;
	margin: 8px;
}

#toucan {
	width: 100%;
}

#toucan a {
	text-decoration: none;
	font-weight: 800;
}

#toucan hr {
	opacity: 0.3;

}
#toucan h4 {
	margin: 10px;
	text-transform: uppercase;
	text-align: center;
}

#toucan img {
	width: 100%;
	margin-bottom: -3px;
}

h1 {
	font-size: 16px;
}
a{
	color: #51A99C;
	transition-duration: 0.5s;
}
a:hover{
	color: #1E7669;
}

label *:not([type="checkbox"]){
	display:block;
}

.other-words input:not([type="checkbox"]){
	margin-top:0.5em;
	width:100%;
}
.other-words .other, .other-words .replace-with{
	width:98%;
}
.other-words .change{
	margin-right:0;
}
.change {
	border-color: rgb(49, 47, 47);
	border-width: 1px;
	border-radius: 0.3em;
	transition-duration: 0.3s;
}
.change:hover {
	background-color: #84DCCF;
	cursor: pointer;
}
#clear-name, #refresh-replacements{
	margin-top:0.5em;
	margin-bottom: 0.5em;
	width:96%;
}

#refresh-replacements {
	font-size: 1.005em;
	background-color: #EF626C;
	border-radius: 0.5em;
	color: white;
	border-color: rgba(0, 0, 0, 0);
	transition-duration: 0.3s;
}

#refresh-replacements:hover {
	background-color: #D64953;
	cursor: pointer;
}

input[type="text"]{
	width:70%;
}
.strikethrough{
	text-decoration: line-through;
}
.one-saved-item:hover{
	background-color: #e74c3c;
	color: white;
	cursor: pointer;
}
.saved-items-list-wrapper{
	height:100px;
	overflow: auto;
}

details {
	margin-top: 0.8em;
}

summary {
	cursor: pointer;
}

input[type="button"]{
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}
input[type="checkbox"]:hover{
	cursor:pointer;
}

#src-code {
	font-size: 0.8em;
	text-align: right;
}